.intro-head{
    text-decoration: none;
    color: rgb(0, 195, 255);
    font-weight: 400;
    font-size: 20px;
}

.intro-head:hover{
    text-decoration: underline;
    color: rgb(0, 195, 255);
}

.intro-btn{
    width: 100%;
    background-color: rgb(225 225 225);
    font-size: 13px;
    color: rgba(0, 0, 0, 0.767);
    font-weight: 400;
    margin-top: 30px;
    border: 1px solid rgb(196, 194, 194);
    padding: 5px 10px;
    border-radius: 15px;
}

.intro-btn:hover{
    background-color: rgb(129, 122, 122);
    color: white;
}

@media only screen and (min-width: 576px) and (max-width: 830px)  {
    .intro-btn{
        font-size: 11px;
    }
}