body{
    background-color: rgb(228, 225, 225);
}

.login-img{
    margin-top: 100px;
}

.white-cont{
    border-radius: 20px;
}

.btn-proceed:hover{
    color: white !important;
}

.login-card input{
        width: 100%;
        margin-top: 20px;
        padding: 8px 16px;
        border: 1px solid rgb(194, 193, 193);
        border-radius: 25px;
}

.rem{
    position: relative;
    right: 30px;
    top: 14px;
}

.forget{
    text-decoration: none;
    position: relative;
    top: 13px;
}

.forget:hover{
    text-decoration: underline;
}

.login-btn{
    width: 100%;
    padding: 8px 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(0, 175, 219);
    outline: none;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 500;
}

.login-btn:hover{
    background-color: rgb(0, 109, 172);
}

@media only screen and (max-width: 1170px)  {
    .rem {
        right: 20px;
    }
}

@media only screen and (max-width: 930px)  {
    .rem {
        right: 10px;
    }
}

@media only screen and (max-width: 770px)  {
    .rem {
        right: 60px;
    }
}

@media only screen and (max-width: 770px)  {
    .rem {
        right: 40px;
    }
}

