<div class="row mt-4 justify-content-between">
    <div class="col-2 head-img">
        <img src="/images/logo.png" alt="img" class="img-fluid" style="height:100% !important ;">
    </div>
    <div class="col-3 head-content">
        <div class="row">
            <div class="col-10">
                <h3 class="acaa">Welcome {{name}}</h3>
            </div>
            <div class="col-2 opt-divv">
                <button class="wel-button" onclick="showDrop()"><i class="bi bi-gear"></i></button>
            </div>
            <div class=" col-12 welcome-drop" id="wel-drop">
                <ul>
                    <a href="#" class="drop-anc">Profile</a>
                    <a href="/forget-pass" class="drop-anc-2">Forget Password</a>
                    <a href="/logout" class="drop-anc-3">Logout</a>
                </ul>
            </div>
        </div>
    </div>
</div>