<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/need-style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/55d44e523a.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {{>header}}
            </div>
        </div>

        {{#if error}}
        <div class="alert alert-danger mt-2" role="alert">
            {{error}}
        </div>
        {{/if}}

        <h2><b>View & Download Policies</b></h2>

        <select class="form-select" aria-label="Default select example" id="abc">
            <option class="stripe" selected id="abc">Select Program</option>
            <option value="HR Employee Mgmt">HR Employee Mgmt</option>
            <option value="Training Career Mgmt">Training Career Mgmt</option>
            <option value="Corporate Standards">Corporate Standards</option>
            <option value="Claint Rights">Claint Rights</option>
            <option value="Claint Management">Claint Management</option>
            <option value="Service Options">Service Options</option>
            <option value="Miscellaneus">Miscellaneus</option>
        </select>

        <select class="form-select" aria-label="Default select example" id="abcc">
            <option selected id="abcc">Select Policy Category</option>
            <option value="ACT">ACT</option>
            <option value="ARMHS">ARMHS</option>
            <option value="MCT">MCT</option>
            <option value="CTSS">CTSS</option>
            <option value="ITFC">ITFC</option>
            <option value="IRMHS">IRMHS</option>
            <option value="IRTS">IRTS</option>
            <option value="RCH">RCH</option>
            <option value="MHC">MHC</option>
            <option value="ADT">ADT</option>
            <option value="PHP">PHP</option>
        </select>
        <p id="button">
            <a href="/buy-subscription" class="btn text-white btn-subscription">YOU
                NEED TO BUY A SUBSCRIPTION</a>
        </p>
    </div>

    {{!-- <script src="./js/view-policy.js"></script> --}}
    <script>
        function showDrop() {
  var x = document.getElementById("wel-drop");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
    </script>
</body>

</html>